h4 {
	background-color: Lavender!important;
	text-transform: none!important;
	color: RoyalBlue!important;
	font-weight: bold!important;
	font-size: 0.9em!important;
	padding: 0.3em!important;
	box-shadow: 0px 2px RoyalBlue!important;
	font-family: courier!important;
	margin-bottom: 13px!important;
}

.flex-imgs {
	display: flex!important;
	flex-direction: row!important;
	flex-wrap: wrap!important;
	flex-grow: none!important;
}

.ftblock {
	width: 200px!important;
	text-align: center!important;
	margin: 5px!important;
}

.ftimg {
	width: 201px!important;
	height: 164px!important;
}

.fttext {
	font-weight: bold!important;
	text-align: center!important;
	font-size: 0.9em!important;
}

.ftimgdetail{
 position: relative;
 width: 150px;
 height: 123px;
 float: right;
 font-size: 0.5em;
 text-align: right;
}

.ftimgdetail div{
 position: absolute;
 bottom: 0;
 right: 0;
 background: black;
 color: white;
 margin-bottom: 5px;
 opacity: 0;
 visibility: hidden;
 -webkit-transition: visibility 0s, opacity 0.5s linear; 
 transition: visibility 0s, opacity 0.5s linear;
}

.ftimgdetail:hover{
 cursor: pointer;
}

.ftimgdetail:hover div{
 width: 120px;
 padding: 4px 8px;
 visibility: visible;
 opacity: 0.7; 
}